<div class="wrapper row0" style="background-color: #000;">
    <section class="hoc clear container">
        <div class="center inline">
            <div>
                <a href="https://www.facebook.com/taiwanholic.trip/" class="social-link">
                    <img src="images/facebook.png">
                </a>
            </div>
            <div>
                <a href="https://twitter.com/taiwanholic" class="social-link">
                    <img src="images/twitter.png">
                </a>
            </div>
            <div>
                <a href="https://www.instagram.com/taiwan.holic/?hl=enc" class="social-link">
                    <img src="images/instagram.png">
                </a>
            </div>
            <div>
                <a href="#" class="social-link" id="sociallink">
                    <img src="images/youtube.png">
                </a>
            </div>
        </div>

        <br>

        <div class="center">
            <span>CONTACT US｜</span>
            <span style="color: #444444; text-transform: uppercase;">
                <i class="fa fa-envelope"></i> taiwanholicmister@gmail.com
            </span>
        </div>
    </section>
</div>