<head>
    <title>{{title}}</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta http-equiv="Content-Language" content="zh-TW">

    <link href="https://fonts.googleapis.com/css?family=Fjalla+One|Lora|Open+Sans+Condensed:300|Montserrat" rel="stylesheet">
    <link href="styles/style.css" rel="stylesheet" type="text/css">
    <link href="styles/layout.css" rel="stylesheet" type="text/css">
    <style>
        body,
        html {
            margin: 0px;
        }
    </style>
</head>