<link rel="stylesheet" href="stylesheets/cities.css">
<div class="wrapper row3" style="background-color: #F9F9F9;">
    <section class="hoc container clear">

        <header class="center">
            <h2 class="page-title">Explore Taiwan</h2>
        </header>

        <!-- Feature Bar -->
        <div id="featurebar" class="btmspace-30">
            <nav class="center">
                <ul class="clear">
                    <li><a href="city/northern/food">Food</a></li>
                    <li><a href="city/northern/fun">Fun</a></li>
                    <li><a href="city/northern/stay">Stay</a></li>
                    <!-- <li><a href="#">Nightlife</a></li> -->
                    <li><a href="city/northern/trans">Transportation</a></li>
                </ul>
            </nav>
        </div>
        <!-- End Feature Bar -->

        <div class="one_half first btmspace-30" id="trans">
            <a href="city/northern"><img src="images/north.jpg"></a>
            <div>
                <p class="city-title">Northern Taiwan</p>
                <p class="city-paragraph">Here, you can enjoy the cityscape (Taipei), different types of hot spring, the special landscape of rocky
                    coast, and maybe experience Hakka culture (Hsinchu).</p>
            </div>
        </div>

        <div class="one_half btmspace-30" id="trans">
            <a href="city/mid"><img src="images/mid.jpg"></a>
            <div>
                <p class="city-title">Mid-Taiwan</p>
                <p class="city-paragraph">This area is famous for Hakka Culture (Miaoli), nature landscapes (Nantou and Yunlin), nature-related museums
                    (Taichung), and of course cityscape (Taichung).</p>
            </div>
        </div>

        <div class="one_half first btmspace-30" id="trans">
            <a href="city/southern"><img src="images/south.jpg"></a>
            <div>
                <p class="city-title">Southern Taiwan</p>
                <p class="city-paragraph">Southern Taiwan is very famous for the delicacies (Tainan and Kaohsiung), nature landscapes (Alishan, Chiayi),
                    and water activities (Kenting, Pingtung), history and culture (Tainan).</p>
            </div>
        </div>

        <div class="one_half btmspace-30" id="trans">
            <a href="city/eastern"><img src="images/east.jpg"></a>
            <div>
                <p class="city-title">Eastern TAIWAN</p>
                <p class="city-paragraph">Eastern Taiwan is famous for the astonishing landscapes and the relaxing atmosphere. The must-visited spot
                    is of course Taroko Gorge, but there’s still lots of places worth going!</p>
            </div>
        </div>

        <div class="one_half first btmspace-30" id="trans">
            <img src="images/offshore.jpg">
            <div class="city-paragraph">
                <p class="city-title">Offshore Island <small>(Comming soon...)</small></p>
                <p>There are five main outlying islands that you must visit in Taiwan. The scenery of the outlying islands is
                    different from the Main Island.</p>
            </div>
        </div>

    </section>
</div>